/*resets all selectors*/
/**{
	margin:0;
	padding:0;
}*/

/*h3{
	color: green;
}here h3 is a selector*/
body{
	background-color:#f4f4f4;
	color: #555555;
	font-family: Arial, Helvetica, sans-serif, Georgia, Verdana;
	font-size: 16px;
	font-weight: normal;
	/*same as above*/
	font: normal 16px Arial, Helvetica, sans-serif;
	line-height: 1.6em;
	margin:0;
}
/*refreshes up previous float*/
.clr{
	clear:both;
}

.box-1{

	background-color: #333333;
	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	/*same as above*/
	/*border: 5px red solid;*/
	/*border-width: 3px;
	border-bottom-width: 10px;
	border-top-style: dotted;*/
	/*border: 10px red solid;*//* this overrides the value of the above properties*/
	color: #fff;
	padding-top:20px; 
	padding-bottom:20px; 
	padding-left:20px; 
	padding-right:20px; 
	/*same as above*/
	padding: 20px;

	margin-top: 20px;
	margin:20px 0;
	
}
.container{
	width:80%;
	margin:auto;
	
}
a{
	text-decoration: none;
	color: #000;

}

.button:hover{
	background: red;
	color: #fff;
}

/*the subclasses below are also following cascading rules */
a:visited{
	color: purple;
}
a:focus{
	color: pink
}
a:hover{
	color: red;
}
a:active{
	color: blue;
}

/*here the process of cascading is being followed upon i.e. the latest value which is assigned to an attribute is overidden and the previous values are removed*/

/*only the changes are applied for the  h1 selector in box-1 class*/
.container .box-1 h1{
	font-family: Tahoma;
	font-weight: 1200;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}
.box-2{
	border:3px dotted #ccc;
	padding: 20px;
	margin:20px 0;
}
.categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}
.categories h2{
	text-align: center;
}
.categories ul{
	padding: 0;
	padding-left: 20px;
	list-style: square;
	list-style: none;
}
.categories li{
	padding-bottom:6px;
	border-bottom:dotted 1px #333;
	/*list-style-image: url('368633.png');*//*the same property can also be changed in the ul selector as well,make sure to minimize image size using photoshop at lecture 2 43:43*/
}
.my-form{
	padding:20px;
}
.my-form .form-group{
	padding-bottom: 15px;
}
.my-form label{
	display: block;
}
.my-form input[type="text"], .my-form textarea{
	padding: 8px;
	width: 100%;
}
.button{
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border: none;
}
.block{
	float: right;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}
#main-block{
	float: left;
	width: 70%;
	padding: 15px;
	box-sizing: border-box;
}
#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: #fff;
	padding: 15px;
	box-sizing: border-box;
}
.p-box{
	width: 800px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 30px;
}	
.p-box h1{
	position: absolute;
	top: 40px;
}